<!--function button-->
<div class="personnel">
    <button class="btn btn-primary" ng-show="isAuthorized(userRoles.admin)" ng-click="addEmptyUser()">Đăng ký</button>
    <button class="btn btn-primary" ng-click="logout()">Logout</button>
</div>
<br>
<!-- search box -->
<form novalidate class="search_frm">
    <div class="row">
        <div class="form-group col-sm-3">
            <label for="id">ID</label>
            <input id="id" type="text" class="form-control" tabindex="1" ng-model="s.username">
        </div>
        <div class="form-group col-sm-3">
            <label>Cơ quan</label>
            <select ng-options="item.code as item.name for item in commons.offices track by item.code"
                    ng-model="s.office" class="form-control" tabindex="2">
                <option value="">Chọn cơ quan</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label>Phân loại sử dụng</label>
            <select ng-options="item.code as item.name for item in commons.types track by item.code"
                    ng-model="s.type" class="form-control" tabindex="3">
                <option value="">Chọn loại sử dụng</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            <label>Role</label>
            <select ng-options="item.code as item.name for item in commons.roles track by item.code"
                    ng-model="s.role" class="form-control" tabindex="4">
                <option value="">Chọn role</option>
            </select>
        </div>
        <div class="form-group col-sm-5">
            <label for="mail">Mail address</label>
            <input id="mail" type="email" class="form-control" ng-model="s.email" tabindex="5"/>
        </div>
        <div class="form-group col-sm-offset-2 col-sm-2">
            <label>&nbsp;</label>
            <button type="submit" class="form-control btn btn-warning" ng-click="doSearch(s)" tabindex="6">Search</button>
        </div>
    </div>
</form>
<!--user list-->
<table class="table table-bordered">
    <thead>
    <tr>
        <td>ID</td>
        <td>Cơ quan</td>
        <td>Email</td>
        <td>Người tạo</td>
        <td>Ngày giờ update cuối cùng</td>
        <td>Phân loại sử dụng</td>
        <td>Role</td>
        <td>PW</td>
        <td>Thao tác</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in users | filter:search:strict" ng-form name="userFrm">
        <td>
            <input type="hidden" ng-model="i.id">
            <input type="text" class="form-control" ng-model="i.username" required>
        </td>
        <td>
            <select ng-options="item.code as item.name for item in commons.offices"
                    ng-model="i.office" class="form-control">
                <option value="">Chọn cơ quan</option>
            </select>
        </td>
        <td><input type="email" class="form-control" ng-model="i.email" required/></td>
        <td>{{i.created_by}}</td>
        <td>{{i.updated_at | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>
            <select ng-options="item.code as item.name for item in commons.types"
                    ng-model="i.type" class="form-control">
                <option value="">Chọn loại sử dụng</option>
            </select>
        </td>
        <td>
            <select ng-options="item.code as item.name for item in commons.roles"
                    ng-model="i.role" class="form-control">
                <option value="">Chọn role</option>
            </select>
        </td>
        <td><input type="password" placeholder="******" class="form-control" ng-model="i.password"></td>
        <td><button ng-show="isAuthorized(userRoles.admin) || i.id==currentUser.id" ng-disabled="userFrm.$invalid" class="btn btn-success" type="button" ng-click="save(i, $index)">{{i.id ? 'Lưu' : 'Đăng ký'}}</button></td>
    </tr>
    </tbody>
</table>